@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  color: #fff;
}

@media (min-width: 601px) {
  .skills-container {
    .front-end,
    .back-end {
      justify-self: center;
      padding-left: 0;
    }
    .react,
    .vue,
    .html {
      justify-self: flex-end;
    }
    .node,
    .mongo,
    .git {
      justify-self: flex-start;
    }
  }
}
